@{
  Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Title {
Admin Projects
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<div class="header-color"></div>
<div class="btn-right">
  <button type="button" class="btn btn-primary add-proj" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
    <i class="bi bi-plus-circle-fill"></i>Add Project
  </button>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg custom-modal-size">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="/Home/CreateProject"> <!-- Update with your actual controller -->
        <div class="modal-body">
          <div class="flx-row">
            <div>
              <label for="projectName">Project Name:</label><br>
              <input type="text" id="projectName" name="projectName" required>
            </div>
            <div style="margin-left: 1rem;">
              <label for="projectManagerId">Project Manager:</label><br>
              <select id="projectManagerId" name="projectManagerId" required>
                <option value="">Select Project Manager</option>
                @foreach (var manager in Model.ProjectManagers) // Assume you pass a list of project managers
                {
                  <option value="@manager.Id">@manager.UserName</option>
                }
              </select>
            </div>
          </div>

          <div class="flx-row">
            <div>
              <label for="startDate">Start Date:</label><br>
              <input type="date" id="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">

            </div>
            <div style="margin-left: 1rem;">
              <label for="endDate">Due Date:</label><br>
              <input type="date" id="endDate" name="dueDate" required>
            </div>
          </div>

          <div class="flx-row">
            <div>
              <label for="">Members:</label><br>
              <select class="selectpicker" multiple data-live-search="true" name="members" id="members" style="width: 25vw;">
                @foreach (var user in ViewBag.Users)
                {
                  <option value="@user.Id">@user.UserName</option>
                }
              </select>

            </div>
          </div>


          <div class="flx-row">
            <div>
              <label for="description">Description:</label><br>
              <textarea class="form-control text-area-desc" id="description" name="description" rows="3"
                required></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="project-container">
  <div class="scroll-container">
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>#</th>
          <th style="width: 10vw;">Project Name</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var project in Model.Projects) // Assume you pass a list of projects
        {
          <tr>
            <td style="text-align: center;">@project.Id</td>
            <td>@project.Name</td>
            <td>@project.StartDate.ToShortDateString()</td>
            <td>@project.EndDate.ToShortDateString()</td>
            <td>@project.Status</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Action
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">View</a></li>
                  <li><a class="dropdown-item" href="#">Edit</a></li>
                  <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@section Scripts {
  <script>
    document.querySelector('.collapse-btn').classList.add("active");
    document.querySelector('.bi-send-fill').style.color = "white";
    document.querySelector('.collapse-btn').style.color = "white";
    $('select').selectpicker();

  </script>
}
