@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Title {
Admin Task
}

<div class="header-color"></div>
<div class="card-container">
<div class="btn-right">
    <button type="button" class="btn btn-primary add-proj" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">
        <i class="bi bi-plus-circle-fill"></i>Add Task
    </button>
</div>
<div class="project-container">
    <div class="scroll-container">
        <table id="example1" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 10vw;">Project Name</th>
                    <th>Task Name</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model.Tasks)
                {
                    <tr>
                        <td>@task.Project.Name</td>
                        <td>@task.Name</td>
                        <td>@task.AssignedTo?.UserName</td>
                        <td>@task.Status</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                    <li>
                                        <form method="post" action="/Home/DeleteTask">
                                            <input type="hidden" name="id" value="@task.Id" />
                                            <button type="submit" class="dropdown-item">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addTaskForm" method="post" action="/Home/CreateTask">
                    <div class="flx-row">
                        <div class="">
                            <label for="taskName">Task Name:</label><br>
                            <input type="text" id="taskName" name="taskName" required>
                        </div>
                        <div class="" style="margin-left: 1rem;">
                            <label for="projectId">Project Name:</label><br>
                            <select id="projectId" name="projectId" required>
                                <option value="">Select Project</option>
                                @foreach (var project in Model.Projects)
                                {
                                    <option value="@project.Id">@project.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="flx-row">
                        <div class="">
                            <label for="assignedToId">Assign To:</label><br>
                            <select id="assignedToId" name="assignedToId" required>
                                <option value="">Select Member</option>
                            </select>
                        </div>
                    </div>
                    <div class="flx-row">
                        <div>
                            <label for="description">Description:</label><br>
                            <textarea class="form-control text-area-desc" id="description" name="description" rows="3" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // When the project is selected
        $('#projectId').on('change', function () {
            var projectId = $(this).val();
            
            if (projectId) {
                // Make an AJAX call to get members for the selected project
                $.getJSON('/Home/GetProjectMembers', { projectId: projectId }, function (data) {
                    // Clear the "Assigned To" dropdown
                    $('#assignedToId').empty();
                    $('#assignedToId').append('<option value="">Select Member</option>');
                    
                    // Populate the dropdown with the fetched members
                    $.each(data, function (i, member) {
                        $('#assignedToId').append('<option value="' + member.id + '">' + member.userName + '</option>');
                    });
                });
            } else {
                // If no project is selected, clear the "Assigned To" dropdown
                $('#assignedToId').empty();
                $('#assignedToId').append('<option value="">Select Member</option>');
            }
        });
    });
</script>

